{% extends 'layouts/main.html'%}
{% block title %}
  Shopart | online
{% endblock title %}
{% block content %}

{% include 'layouts/slider.html' %}

<div class="container my-5">
    <div class="row">
      <div class="col-12 my-5">
        <h4 class="mb-3">Latest Offers</h4>
        <hr style="border-color: red">   
      </div>
      {% for item in products  %}
      <div class="col-3 card box ">
       
        <img src="{{ item.product_image.url }}" class="img-fluid" alt="Categories">
        <a href="{% url 'products_details' item.catagory.name item.name %}">
        <div class="card-body">
            <h5 class="card-title text-primary">{{ item.name }}</h5>
            <p class="card-text">
               <span class="float-start old_price text-danger"><s>Rs.{{item.original_price | stringformat:'d' }}</s></span>
               <span class="float-end new_price, text-success"> Rs.{{item.selling_price | stringformat:'d' }}</span>
            </p>

        </a>
        </div>
      </div>
      {% endfor %}




    </div>
  </div>



{% endblock content %}
